<a href="https://colab.research.google.com/github/PratapRK77/For_loop_basic_programs/blob/main/For_loop3rd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
lst = [1,2,3,4,5,6,7]

sum = 0

for i in lst: # initialize the each element in list.
  sum +=i # and add in previous element.

print("Sum of list: ",sum)

Sum of list:  28

3. Write a program to print the characters of a string in reverse order using a `for` loop

In [ ]:
mystr = "Hello, myself pratap"

string = " "

for i in mystr:

  string = i + string # reverse the string

print("Reveerse steing : ", string)

Reveerse steing :  patarp flesym ,olleH

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
num = int(input("Enter number :"))

fact = 1

for i in range(1,num+1):

  fact = fact*i

print(f"Factorial of {num} is {fact}")

Enter number :6
Factorial of 6 is 720

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
num = int(input("Enter number: "))

table =0

for i in range(1, 11):

  table = num*i

  print(table)

Enter number: 2
2
4
6
8
10
12
14
16
18
20

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10,44,46,88]

count_even = 0

count_odd = 0

for i in lst:

  if i % 2 ==0:
    count_even +=1
  else:
    count_odd +=1

print("Even number in list: ",count_even)
print("Odd number in list: ",count_odd)

Even number in list:  8
Odd number in list:  5

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop

In [ ]:

for i in range(1,6):

  print(i**2)

1
4
9
16
25

8. Create a program to find the length of a string without using the `len()` function.

In [ ]:
mystr = " hello , my name is pratap"

count = 0

for i in mystr:

  count +=1

print("Lenghth of string :",count)

Lenghth of string : 26

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
lst =[1,2,3,4,5,6,6,7,8,9]

sum = 0
avr =0

for i in lst:

  sum +=i
  avr =sum/len(lst)

print("Average of  list: ",avr)

Average of  list:  5.1

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
num = 10

f1= 0
f2 = 1

for i in range(f1,num):

  f
  print(sum)

1
2
3
4
5
6
7
8
9
10
11

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
num = 0
num1 = 1
fab_num = num1
count = 0

for i in range(f1) :
  print(fab_num, end=" ")
  count +=1
  num, num1 =num1, fab_num
  fab_num = num + num1

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
lst = [1,2,3,6,5,4,5,6,7]

unic_list = []

dupli_list=[]

for i in lst :
  if i not in unic_list:
    unic_list.append(i)
  elif i not in dupli_list:
    dupli_list.append(i)
print(unic_list)
print("list contain duplicate item",dupli_list)

[1, 2, 3, 6, 5, 4, 7]
list contain duplicate item [5, 6]

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [ ]:
def primenum(n):

  if( n==1 or n==0):
    return False

  for i in range (2,n):

     if (n % i == 0):
       return False

  return True

num =int(input("Enter range: "))

for i in range(1,num+1):

  if (primenum(i)):
    print(i)

Enter range: 25
2
3
5
7
11
13
17
19
23

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
mystr = "Hello, My name is pratap"

vowels =["a",'e','i','o','u','A','E','I','O','U']

count = 0

for i in mystr:

  if i in vowels:

    count += 1

print("Vowels in list: ",count)

7

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [ ]:
lst = [[1,2,3],[3,4,5],[34,53,23,556]]

maximum_elememt = lst[0][0]

for i in lst:

  for j in i:

    if j > maximum_elememt:

      maximum_elememt = j

print("The maximum element in the list is ", maximum_elememt)

The maximum element in the list is  556


15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [ ]:
lst = [ 1,2,3,4,5,6,22,33,44,55,66,7]

element = int(input("Enter element : "))

new_lst =[]

for i in lst:

  if i!=element:

    new_lst.append(i)

print(f"Aftter removing element : {new_lst}")

Enter element : 33
Aftter removing element : [1, 2, 3, 4, 5, 6, 22, 44, 55, 66, 7]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [ ]:
table = ()

for i in range(1,6):

  for j in range(1,11):

    table = i*j

    print( table)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [ ]:
lst =[10,20,30,40,50]

celsius = []

for i in lst:

  celsius = (i -32.0)*5.0/9.0

  print(celsius)

-12.222222222222221
-6.666666666666667
-1.1111111111111112
4.444444444444445
10.0

18. Create a program to print the common elements from two lists using a `for` loop.

In [ ]:
lst = [1,2,3,4,5,6,7]

lst1 = [11,22,33,4,5,66,7]

common_element = list(i for i in lst if i in lst1)

print("Common element in lists",common_element)

Common element in lists [4, 5, 7]

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [ ]:
i = 0

for i in range(1,6):

  for j in range(1,i+1):

     print("*",end= " ")

  print()

*
* *
* * *
* * * *
* * * * *

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [ ]:
def gcd(a,b):

  gcd=1

  for i in range(1,min(a,b)+1):

    if a % i == 0 and b % i == 0:

      gcd=i

  return gcd

G=gcd(12,18)

print("Gretest common divisor",G)

Gretest common divisor 6

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [ ]:
lst = [12,26,33,74,57,67]

Scr = list(sum(int(j) for j in str(i)) for i in lst)

print("Sum of digits of numbers in a list: ",Scr)

Sum of digits of numbers in a list:  [3, 8, 6, 11, 12, 13]

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [ ]:
def calculate_prime_factors(N):
    prime_factors = set()
    if N % 2 == 0:
        prime_factors.add(2)
    while N % 2 == 0:
        N = N // 2
        if N == 1:
            return prime_factors
    for factor in range(3, N + 1, 2):
        if N % factor == 0:
            prime_factors.add(factor)
            while N % factor == 0:
                N = N // factor
                if N == 1:
                    return prime_factors


input_number = 20
output = calculate_prime_factors(input_number)
print("Prime factors of {} are {}".format(input_number, output))
input_number = 1260
output = calculate_prime_factors(input_number)
print("Prime factors of {} are {}".format(input_number, output))

Prime factors of 20 are {2, 5}
Prime factors of 1260 are {2, 3, 5, 7}

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [ ]:
lst = [1,2,3,4,5,6,7,4,2,5]

new_lst = []

common_element =[]

for i in lst:

  if i in lst:

    new_lst.append(i)

print(new_lst)

[1, 2, 3, 4, 5, 6, 7, 4, 2, 5]

25. Write a program to flatten a nested list using list comprehension.

In [ ]:
nested_lst = [[1,2,3,4],[11,22,33,44],[77,66,55]]

flat_list = list(i for sub_list in nested_lst for i in sub_list)

print(flat_list)

[1, 2, 3, 4, 11, 22, 33, 44, 77, 66, 55]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list comprehension.

In [6]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = [n for n in numbers if n % 2 == 0]

odd_numbers = [n for n in numbers if n % 2 == 1]

even_sum = sum(even_numbers)
odd_sum = sum(odd_numbers)

print("The sum of even numbers is:", even_sum)
print("The sum of odd numbers is:", odd_sum)

The sum of even numbers is: 30
The sum of odd numbers is: 25

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [ ]:

square_odd = [i**2 for i in range(1,11) if i%2 != 0]

print("Square of odd number: ",square_odd)

Square of odd number:  [1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [ ]:
lst = ['pratap','ashish','sachin','rush']
lst1 =[77,8,99,66]

conv_dict = {lst[i]:lst1[i] for i in range(len(lst))}
print(conv_dict)

{'pratap': 77, 'ashish': 8, 'sachin': 99, 'rush': 66}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [ ]:
mystr = "Hello, My name is pratap"

vowels =["a",'e','i','o','u','A','E','I','O','U']


extract_vowels = [i for i in mystr if i in vowels]

print(extract_vowels)

['e', 'o', 'a', 'e', 'i', 'a', 'a']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [ ]:
lst = ["hiii",25,45,"Hello"]

remov_str = [i for i in lst if i != str(i)]

print("After remove all non-numeric characters: ",remov_str)

After remove all non-numeric characters:  [25, 45]

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.

In [ ]:
def SieveOfEratosthenes(n):

	prime = [True for i in range(n+1)]
	p = 2
	while (p * p <= n):


		if (prime[p] == True):

			for i in range(p * p, n+1, p):
				prime[i] = False
		p += 1


	for p in range(2, n+1):
		if prime[p]:
			print(p)

if __name__ == '__main__':
	n = 20
	print("Following are the prime numbers smaller"),
	print("than or equal to", n)
	SieveOfEratosthenes(n)

Following are the prime numbers smaller
than or equal to 20
2
3
5
7
11
13
17
19

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

In [ ]:
def pythagoreanTriplets(limits) :
	c, m = 0, 2

	while c < limits :

		for n in range(1, m) :
			a = m * m - n * n
			b = 2 * m * n
			c = m * m + n * n

			# limit then break it
			if c > limits :
				break

			print(a, b, c)

		m = m + 1

# Driver Code
if __name__ == '__main__' :

	limit = 20
	pythagoreanTriplets(limit)

3 4 5
8 6 10
5 12 13
15 8 17
12 16 20

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [ ]:
lst1 = [1,2,3,4]
lst2 =['a','b','c','d']

possible_combination = [(x,y) for x in lst1 for y in lst2]

print("Possible Combination of two lists :",possible_combination)

Possible Combination of two lists : [(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

mean = sum(numbers) / len(numbers)

sorted_numbers = sorted(numbers)
middle_index = len(numbers) // 2

if len(numbers) % 2 == 0:
    median = (sorted_numbers[middle_index - 1] + sorted_numbers[middle_index]) / 2
else:
    median = sorted_numbers[middle_index]

counts = [(x, numbers.count(x)) for x in set(numbers)]
mode = max(counts, key=lambda x: x[1])[0]

print(f"The mean is {mean}")
print(f"The median is {median}")
print(f"The mode is {mode}")

The mean is 5.5
The median is 5.5
The mode is 1

35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.

In [ ]:
def pascal_triangle(n):

    triangle = []

    for i in range(n):

        row = [1 if j == 0 or j == i else triangle[i-1][j-1] + triangle[i-1][j] for j in range(i+1)]

        triangle.append(row)

    return triangle


n = int(input("Enter the number of rows: "))

print(pascal_triangle(n))

Enter the number of rows: 5
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.

In [ ]:
def factorial(n):

    if n == 0 or n == 1:
        return 1

    else:
        return n * factorial(n-1)

def digit_sum(n):
    digits = [int(x) for x in str(n)]

    return sum(digits)

numbers = [x for x in range(1, 6)]

results = [digit_sum(factorial(x)) for x in numbers]

print(results)

[1, 2, 6, 6, 3]

37. Write a program that finds the longest word in a sentence using list comprehension.

In [ ]:
sentence = ""

words = [x for x in sentence.split()]

lengths = [len(x) for x in words]

max_index = lengths.index(max(lengths))

longest_word = words[max_index]

print(f"The longest word in the sentence is {longest_word}")

The longest word in the sentence is : Hello,

38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension

In [2]:
def count_vowels(s):

  vowels = {'a', 'e', 'i', 'o', 'u'}

  count = 0

  for c in s:

    if c.lower() in vowels:
      count += 1

  return count

strings = ["hello", "world", "python", "programming", "beautiful"]

filtered = [s for s in strings if count_vowels(s) > 3]

print(filtered)

['beautiful']

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.

In [3]:
def sum_digits(n):


  sum = 0

  while n > 0:

    sum += n % 10

    n //= 10

  return sum

numbers = [n for n in range(1, 1001)]

sums = [sum_digits(n) for n in numbers]

print(sums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [5]:
def is_prime(n):

  if n < 2:
    return False
  for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
      return False
  return True

def is_palindrome(n):
  # Convert the number to a string
  s = str(n)
  # Reverse the string
  r = s[::-1]
  return s == r

numbers = [n for n in range(1, 500)]

primes_palindromes = [n for n in numbers if is_prime(n) and is_palindrome(n)]

print(primes_palindromes)

[2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383]